*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

/* Header */

header{
    background:#ff7043;
    color:white;
    text-align:center;
    padding:30px;
}

/* Navigation using Flexbox */

nav{
    background:#333;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ff7043;
}

/* Welcome */

.welcome{
    text-align:center;
    padding:40px;
}

/* Recipes */

.recipes{
    padding:40px;
    text-align:center;
}

.recipe-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:30px;
}

/* Cards */

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin:15px 0;
}

.card p{
    padding:0 15px 20px;
}

/* Forms */

.share-recipe,
.comments{
    background:white;
    margin:40px;
    padding:30px;
    border-radius:10px;
}

.share-recipe h2,
.comments h2{
    text-align:center;
    margin-bottom:20px;
}

.share-recipe form,
.comments form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.share-recipe input,
.share-recipe textarea,
.comments input,
.comments textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#ff7043;
    color:white;
    border:none;
    padding:12px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#e64a19;
}

/* Contact */

.about{
    text-align:center;
    padding:40px;
}

/* Footer */

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}
/* Dark Mode */

.dark-mode{
    background:#222;
    color:white;
}

.dark-mode header{
    background:#222;
}

.dark-mode nav{
    background:#111;
}

.dark-mode .card{
    background:#333;
    color:white;
}

.dark-mode footer{
    background:#111;
}

#searchBar{
    width:60%;
    max-width:400px;
    padding:12px;
    margin:20px;
    border-radius:8px;
    border:2px solid #ff7043;
    font-size:16px;
}
